{% extends 'dataview/logincheck.html' %}

{% block content %}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-10 col-sm-12 text-center">
            <h1 class="display-2"> Data</h1>
            <a href="{% url 'dataview:create' %}">Create new data</a>|

            <a href="{% url 'dataview:data_upload' %}">Upload new data</a>|

            <a href="{% url 'dataview:deletedata' %}">Delete all Data</a>
            <br>
            <br>
            <a href="{% url 'landing:home' %}">Back to Home</a>|

            <a href="{% url 'dataview:graphdata' %}">Go to Graph</a>

            <div class="d-flex justify-content-center mt-5">



                {% if dataview_list %}
                <ul>
                    {% for dataview in dataview_list %}
                    <li style="font-size: 20px;">{{ dataview.xdata }}, {{ dataview.ydata }}

                        <span style="font-size: 15px;"><a href="{% url 'dataview:update' dataview.id %}">+</a></span>
                        <span style="font-size: 15px;"><a href="{% url 'dataview:delete' dataview.id %}">-</a></span>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>No data is available.</p>
                {% endif %}

            </div>
        </div>
    </div>
</div>


{% endblock content %}