<h1 style="font-size: 40px;">Blog Posts</h1>
{% if post_list %}
    <ul>
    {% for post in post_list %}
        <li>{{ post.title }}
            <ul>
                <li>{{post.text}}</li>
            </ul>
          <span><a href="{% url 'blog:update' post.id %}">edit</a></span>
          <span><a href="{% url 'blog:delete' post.id %}">delete</a></span>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No blogs are available.</p>
{% endif %}
<a href="{% url 'blog:create' %}">Create a New Post</a>
<br>
  <p>
    <ul>Filter by:
      <li> Title: 
        <ul>
          <li><a href="{% url 'blog:sportfilter' %}">Sports</a></li>
          <li><a href="{% url 'blog:newsfilter' %}">News</a></li>
        </ul>
      </li>
    </ul>
    <ul>Order by:
      <li><a href="{% url 'blog:order' %}">Date Created: Newest to Oldest</a></li>
    </ul>
    <ul>Filter and Order by:
        <li><a href="{% url 'blog:ordersport' %}">Sport in Title and Date Created: Newest to Oldest</a></li>
      </ul>

  </p>
<br>
<a href="{% url 'greetings:index' %}">Go to greetings</a>